[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
astroid = "*"
autopep8 = "*"
certifi = "*"
chardet = "*"
defusedxml = "*"
django-allauth = "*"
django-cors-headers = "*"
django-filter = "*"
django-rest-auth = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
idna = "*"
isort = "*"
lazy-object-proxy = "*"
mccabe = "*"
oauthlib = "*"
pycodestyle = "*"
pylint = "*"
pylint-django = "*"
pylint-plugin-utils = "*"
python3-openid = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
six = "*"
sqlparse = "*"
typed-ast = "*"
urllib3 = "*"
wrapt = "*"
Django = "*"
Markdown = "*"
PyJWT = "*"

[requires]
python_version = "3.8"
